<!DOCTYPE html>
<html lang="en">
    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Block Breaker</title>
      <!-- Imports the CSS File for styling the webpage -->
        <link rel="stylesheet" type="text/css" href="../static/mycss.css" media="screen" />
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
      <ul class="topnav" id="myTopnav">
  <li><a href="#home">Game</a></li>
  <li><a href="#news">High Scores</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>
  </head>
  <body>
      <div class = "lives">
          <t style= "text-align: centre; font-size: 30px; font-family: Verdana, Geneva, sans-serif;">Lives: <t style= "font-size: 30px; font-family: Verdana, Geneva, sans-serif;" id = "lives"></t></t>
          <t style= "font-size: 30px; font-family: Verdana, Geneva, sans-serif;" id = "lives"></t>&nbsp;&nbsp;
          <t style= "font-size: 30px; font-family: Verdana, Geneva, sans-serif;"> Score: <t style= "font-size: 30px; font-family: Verdana, Geneva, sans-serif;" id = "score"> &nbsp; </t></t>
          &nbsp;
          <t style= "text-align: centre; font-size: 30px; font-family: Verdana, Geneva, sans-serif;">Player Name: </t>
          <input type="text" font-size="70px" id="playerName"><button onclick = "storeName()">Submit</button>
      </div>
    
      <canvas id="canvasOne"></canvas>
      <script type="text/javascript"></script>
      <!-- Imports the JavaScript for the webpage for functionality -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="../static/Webapp.js"></script>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>      
      
  </body>
    
</html>